.jumbotron {
	background-color: black;
}

input[type=password],
input[type=text] {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
   	width: 100%;
    margin: 2px;
    color: black;
	max-width: 100%;
}